body {
  margin: 0;
}

img {
  width: 100%;
}

h3 {
  color: white;
  font-size: 25px;
  font-family: sans-serif;
}

div {
  text-align: center;
}

.container {
  position: relative;
}

.class_room_1_left {
  background-color: #FF8000;
  width: 149px;
  height: 131px;
  position: absolute;
  left: 327px;
  top: 13px;
}

.class_room_2_left {
  background-color: #FF8000;
  width: 149.5px;
  height: 145px;
  position: absolute;
  left: 329px;
  top: 154.5px;
}

.class_room_3_left {
  background-color: #FF8000;
  width: 150.5px;
  height: 138.5px;
  position: absolute;
  left: 329px;
  top: 308px;
}

.class_room_1_right {
  background-color: #FF8000;
  width: 163.5px;
  height: 136.5px;
  position: absolute;
  left: 645px;
  top: 10px;
}

.class_room_2_right {
  background-color: #FF8000;
  width: 159.5px;
  height: 139px;
  position: absolute;
  left: 646px;
  top: 158px;
}

.class_room_3_right {
  background-color: #FF8000;
  width: 165px;
  height: 236px;
  position: absolute;
  left: 646px;
  top: 305px;
}

.wash_room {
  background-color: maroon;
  width: 152px;
  height: 119px;
  position: absolute;
  left: 328.3px;
  top: 549px;
}

.open_space {
  background-color: #00FF00;
  width: 266px;
  height: 231.5px;
  position: absolute;
  left: 646.2px;
  top: 554px;
}

.stairs_1 {
  background-color: red;
  width: 152px;
  height: 87px;
  position: absolute;
  left: 328.3px;
  top: 454px;
}

.stairs_1_button {
  position: absolute;
  bottom: 5px;
  left: 30px;
}

.stairs_2 {
  background-color: red;
  width: 92px;
  height: 139px;
  position: absolute;
  left: 742px;
  top: 876px;
}

.stairs_2_button {
  width: 60%;
  position: absolute;
  bottom: 25px;
  left: 18px;
}

.lab {
  background-color: #4285F4;
  width: 239px;
  height: 138px;
  position: absolute;
  left: 1033.8px;
  top: 879px;
}

.cttc_room {
  background-color: #4285F4;
  width: 165px;
  height: 221px;
  position: absolute;
  left: 922px;
  top: 564px;
}

.meeting_room {
  background-color: #4285F4;
  width: 179px;
  height: 143px;
  position: absolute;
  left: 845.2px;
  top: 876px;
}

.spectrum {
  background-color: #4285F4;
  width: 181px;
  height: 224.5px;
  position: absolute;
  left: 1096px;
  top: 561px;
}

.staff_room {
  background-color: #4285F4;
  width: 151.2px;
  height: 240.5px;
  position: absolute;
  left: 330px;
  top: 678px;
}